.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 3.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 1s;

  background-color: #ccd6f6;

  &__logo {
    color: #0A192F;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
      margin-right: 8px;
    }

    //@media screen and (min-width: 1200px){
    //
    //
    //}
  }


  /** menu mobile **/
  #btn-mobile {
    display: none;
  }

  @media (max-width: 767px){

    .header__menuList {
      // display: block;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 0;
      top: 3.5rem;
      right: 0;
      background-color: #2a2c47;
      z-index: 100;
      visibility: hidden;
      overflow-y: hidden;
    }

    nav.active .header__menuList{
      height: calc(40vh - 3.5rem);
      display: block;
      visibility: visible;
    }

    #btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: solid 2px #0A192F;
      background-color: transparent;
      cursor: pointer;
      gap: .5rem;
      
      #hamburger {
        width: 20px;
        border-top: 2px solid;

        &::before{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background-color: currentColor;
          margin-top: 5px;
          transition: .5s;
        }

        &::after{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          margin-top: 5px;
          background-color: currentColor;
          transition: .5s;
          position: relative;
        }
      }

    }

    .header nav.active #hamburger {
      border-top-color: transparent;


      &::before {
        transform: rotate(135deg);
      }

      &::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    }


  }
  /** end menu mobile **/



  // &__menu-mobile {
  //   display: none;

  //   @media screen and (max-width: 480px){
  //     display: block;
  //   }

  //   @media (min-width: 481px) and (max-width: 767.98px) {
  //     display: block;
  //   }
  //   @media screen and (min-width: 768px){
  //     display: none;
  //   }
  // }

  &__icon-closeMobile {
    display: none;

    @media screen and (max-width: 480px){
      //display: block;
    }
  }

  &__menuList {
    display: flex;
    align-items: center;
    list-style: none;

    @media screen and (max-width: 480px){
      display: none;
    }

    @media (min-width: 481px) and (max-width: 767.98px) {
      display: none;
    }


    &__items {
        display: inline-block;
      @media screen and(max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

        a {
          @media screen and(max-width: 767.98px) {
            color: #fff;
          }
          font-size: 1.3rem;
          padding: 0.75rem;
          color: #0A192F;
          font-weight: 700;
          display: inline-block;

          &::after {
            content: '';
            display: inline-block;
            border-bottom: solid 3px #019fb6;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
          }

          &:hover {
            transform-origin:  0% 50%;
          }
        }
    }

    /* Button CV - Resume */
    //&__btnResume {
    //  color: white;
    //  font-weight: 500;
    //  background-color: rgb(232, 80, 54);
    //  border: none;
    //  padding: 0.75rem 1rem;
    //  margin-left: 0.75rem;
    //  border-radius: 6px;
    //  transition: all 0.4s;
    //  border: solid 1px transparent;
    //  cursor: pointer;
    //
    //  &:hover {
    //    background-color: rgba(255, 99, 71, 0.867);
    //    color: #fff;
    //    font-weight: 600;
    //    border: solid 1px #fff;
    //    padding: 0.75rem 1.5rem;
    //    transition: all 0.3s;
    //
    //    .header__menuList__cv-idiomas {
    //      display: block;
    //    }
    //
    //  }
    //}

    &__idiomas{
      transition: all 1s;
      text-align: center;

      li {
        list-style: none;
        position: relative;
        transition: all 1s;
        padding: 15px 0;

        &:hover {
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 1s;
            padding: 20px 0 0;
          }
        }

        .btnResume {
          color: #fff;
          font-weight: 500;
          background-color: #0A192F;
          border: none;
          padding: 0.4rem 1rem;
          margin-left: 0.75rem;
          border-radius: 6px;
          transition: all 1s;
          border: solid 1px transparent;
          cursor: pointer;
          position: relative;
          @media screen and(max-width: 767.98px) {
            padding: 0.8rem 1.5rem;
          }

          &:hover {
            @media screen and(max-width: 767.98px) {
              color: #fff !important;
              border: solid 1px #fff;
            }
            background-color: rgba(255, 99, 71, 0.867);
            color: #fff;
            font-weight: 600;
            border: solid 1px #fff;
            transition: all 0.3s;

            ul {
              display: flex;
              transition: all 0.6s;
            }
          }
        }
      }

        /* sub-menu*/
        &__curriculo {
          position: absolute;
          top: 40px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: transparent;
          display: none;
          transition: all 1s;

          //&::before{
          //  content: '';
          //  width: 0;
          //  height: 0;
          //  position: absolute;
          //  top: -14px;
          //  display: inline-block;
          //  border-left: 10px solid transparent;
          //  border-right: 10px solid transparent;
          //  border-top: 15px solid #46CE75;
          //  transition: all 1s;
          //}

          li {
            list-style: none;
          }

          a {
            text-decoration: none;
            background-color: orangered;
            color: #fff;
            font-weight: 600;
            padding: 5px 10px;
            display: flex;
            transition: all 0.6s;
            border-radius: 4px;
            margin: 0 5px;
            transition: all 0.6s;

            &:hover {
              background-color: #6776b2;
              color: #fff;
              font-weight: 600;
              transition: all 0.6s;
            }
          }
        }


      /* end sub-menu*/
    }
  }
}

.nav-colored{
  background-color: #6776b2;
  transition: all 1s;

  a {
    color: #fff;
  }

  #btn-mobile {
    border-color: #0A192F;
    background-color: #2a2c47;
    color: #fff;
  }

  .header__menuList{
    @media screen and(max-width: 767.98px) {
      background-color: #2a2c47;
    }
    transition: all .6s;
    a {
      color: #fff;
      &:hover {
        color: tomato;
      }
    }
  }

}

.nav-transparent {
  background-color: rgba(42, 44, 71, 0.44);
  color: #fff;
  transition: all 2s;
}



  .ativar-menu {

    display: block;
    top: 56px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background: coral;
    right: 0;
    //padding: 15px 30px;
    transition: all 1s;
  }
